<div>
  <div *ngFor="let item of items | async">
    <input type="text" [(ngModel)]="item.name" (change)="updateItem(item)" required>
    <input type="button" value="delete" (click)="deleteItem(item.id)">
  </div>
  <input type="button" value="+" (click)="createItem()">
</div>